body {
	width: 100%;
	height: 100%;
	position: fixed;
	position: fixed;
	background-color: #000;
	color: #fff;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#connection-status {
	display: none;
	width: 10px;
	height: 10px;
}
#raunch-debug {
	position: absolute;
	left: 100px;
}
.device-connected {
	background-color: green;
}
.device-not-connected {
	background-color: red;
}
button.webvr-ui-button {
	position: absolute;
	top: 0;
	right: 0;
}
